<!DOCTYPE html>
<html lang="ru">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
🎂 С днем рождения, папа! 🤍
</title>


<link rel="stylesheet" href="/static/style.css">


<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">


</head>


<body>


<!-- ЛЕТАЮЩИЕ СЕРДЦА -->

<div class="hearts">

<span>❤️</span>
<span>✨</span>
<span>💛</span>
<span>❤️</span>
<span>✨</span>

</div>




<!-- МУЗЫКА -->

<audio id="music" loop>

<source src="/static/music.mp3">

</audio>






<!-- ЭКРАН 1 -->


<section class="screen hero">


<div class="stars"></div>


<div class="hero-content">


<div class="magic-text">

✨ Любимому папе ✨

</div>


<p class="subtitle">
Поздравляем
</p>


<h1>
🎂 С днем рождения, папа!
</h1>


<h2>
✨ 45 лет ✨
</h2>


<p class="description">
Только начало новых приключений!
</p>



<button class="main-btn" onclick="openGift()">

🎁 Открыть поздравление

</button>



</div>


</section>







<!-- ЭКРАН 2 -->


<section class="screen family mobile-story">


<div class="side-photo">

<img src="/static/images/dad_emilia.jpg">

</div>




<div class="text-box">


<h2>
💛 От нашей большой семьи
</h2>


<p>
Сегодня особенный день.
</p>


<p>
Спасибо тебе за заботу,
поддержку, любовь
и самые счастливые моменты.
</p>



</div>




<div class="side-photo">

<img src="/static/images/family7.jpg">

</div>




<button onclick="nextScreen()">

Дальше →

</button>


</section>








<!-- ЭКРАН 3 -->


<section class="screen video-section">


<h2>
🎬 Особенный момент
</h2>



<div class="video-frame">

<video controls>

<source src="/static/video/emilia.mp4">

</video>


</div>


<p>
Видео от Мико ❤️
</p>



<button onclick="nextScreen()">

Дальше →

</button>


</section>








<!-- ЭКРАН 4 -->


<section class="screen memories mobile-story">


<div class="side-photo">

<img src="/static/images/dad_son.jpg">

</div>




<div class="text-box">


<h2>
❤️ Спасибо тебе
</h2>


<p>
Спасибо за поддержку,
советы и любовь.
</p>


<p>
Все моменты рядом с тобой
мы очень ценим.
</p>



</div>




<div class="side-photo">

<img src="/static/images/family8.jpg">

</div>




<button onclick="nextScreen()">

Дальше →

</button>



</section>









<!-- ЭКРАН 5 -->


<section class="screen wishes mobile-story">



<div class="wish-photo">


<img src="/static/images/family9.jpg">


</div>




<div class="wish-center">



<div class="wish-title">


<h2>
💌 Несколько слов от каждого
</h2>


</div>




<div class="cards">


<div class="card">

<h3>
Ека
</h3>

<p>
Спасибо тебе за всё ❤️
</p>

</div>



<div class="card">

<h3>
Мирон
</h3>

<p>
Желаю тебе здоровья,
счастья и радости.
</p>

</div>




<div class="card">

<h3>
Натусик
</h3>

<p>
Спасибо тебе за твою заботу,
тепло и любовь.
Мы тебя очень ценим ❤️
</p>

</div>




<div class="card">

<h3>
Нурали
</h3>

<p>
Мы тебя очень любим ❤️
</p>

</div>



</div>



</div>






<div class="wish-photo">

<img src="/static/images/family10.jpg">

</div>






<button onclick="nextScreen()">

Дальше →

</button>



</section>










<!-- ЭКРАН 6 -->


<section class="screen gallery-section">


<h2>
Наш семейный альбом 📸
</h2>



<div class="gallery">


<div class="polaroid">

<img src="/static/images/main.png">

</div>



<div class="polaroid">

<img src="/static/images/family1.jpg">

</div>



<div class="polaroid">

<img src="/static/images/family2.jpg">

</div>



<div class="polaroid">

<img src="/static/images/family3.jpg">

</div>



<div class="polaroid">

<img src="/static/images/family4.jpg">

</div>



<div class="polaroid">

<img src="/static/images/family5.jpg">

</div>



</div>



<button onclick="nextScreen()">

Дальше →

</button>


</section>










<!-- ФИНАЛ -->


<section class="screen final">


<div class="heart-container"></div>



<h1>
Спасибо,
что ты у нас есть ❤️
</h1>


<p>
Мы тебя очень любим
</p>


<p>
С любовью,
твоя семья
</p>



<div class="final-stars">

✨ ✨ ✨

</div>



</section>







<script src="/static/script.js"></script>


</body>

</html>